*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  background-color: green;
  padding: 20px 0;
  border:2px solid black;
}

/* CLASSI FLOAT */
.fl{
  float: left;
}

.fr{
  float: right;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


/*  PRIMO NAV FIXED */
.mainnavcontainer{
  /* START background reles */
  background-color: #cbd6e2;
  height:80px;
  width: 100%;
  /* END background reules */
  padding: 30px 60px;
  list-style-type: none;
  position: fixed;
}

/* <!-- MAIN NAV sinistro--> */
.sectioncontainerleft{
  width: 50%;
}

/*PROPRIETà testo MAIN NAV sinistro  */
.sectioncontainerleft .top-submenu a{
  text-decoration: none;
  color: #33475b;
}

/* MAIN NAV destro */
.sectioncontainerright{
  width: 50%;
}

/* Proprietà testo MAIN NAV destro*/
.sectioncontainerright .top-submenu a{
  text-decoration: none;
  color: white;
}


.top-submenu li {
  display:inline-block;
}

#login{
  background-color:white;
  padding:10px 20px 10px 20px;
  color:orange;
  border:1px solid orange;
  border-radius: 10%;
}

.gethubspot{
  background-color: orange;
  padding:10px;
  border-radius: 3%;
  margin-left: 10px;
}

  /* <!-- SECOND NAV --> */

.secondnavcontainerprinc{
  background-color: red;
  height: 80px;
  width: 100%;
  padding: 30px 60px;
  margin-top: 80px;
}

/* CONTAINERLEFT second nav */
.secondnavleft{
  width: 50%;
}

/* CONTAINERright second nav */
.secondnavright{
  width: 50%;
}

.secondnavright .top-submenu a{
  text-decoration: none;
  color: #33475b;
}



/* <!-- JUMBODRONE --> */
.firstcontainerjumb{
  height: 695px;
  width: 100%;
  background-image: url("img/jumbotron2.png");
  border: 2px solid black;
}

.larghezzacontenutijumb{
  width: 30%;
  padding: 30px 60px;
}

.sottotitolojumb{
  padding-bottom: 30px;
}

#gethubspot{
  background-color: orange;
  padding:25px;
  border-radius: 3%;
  margin: 60px 0px;
  text-decoration: none;
  color : white;
}

.getstarted{
  padding-top: 30px;
}
/* <!-- Powerful alone. Better together. --> */

.mainpowerfulconteinar{
  /* height: 400px; */
  width: 80%;
  /* margin:auto; */
  margin: auto;
  background-color: #f5f8fa;
}

img.resized{
  width: 20%;
  height: auto;
  margin-left: 40%;
}

.titolopowerful{
  width: 60%;
  margin: 0% 30%;
  margin-bottom: 30px;
}

.paragrafopowerful{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

/* +3 CONTENITORI SOTTOTSTANTI */
.maincontainersottostanti{
  width: 80%;
  border: 2px solid black;
  background-color: #ff9900;
  margin: auto;
}
/* misure 3 container  */
.allcontainerstresottostanti{
  width: 30%;
  background-color: yellow;
  border: 3px solid black;
  padding-bottom: 30px;
}

.containersottostante2{
  text-align: center;
  margin: 20px 0px;
}

#spaziolr{
  margin:0% 5%;
}

/* MISURE IMMAAGINI */
  .sizeimage{
    max-height: 150px;
  }

/* barra separatrice */
  #barretta{
    width: 80%;
    border: 3px solid black;
    margin: auto;
  }



.testocentrato{
  width:100%;
  margin-left: 30px;
  padding-bottom: 20px;
}

#circle{
  color: orange;
}

.bottonerettangolare{
  width: 60%;
  background-color: orange;
  padding:10px;
  border-radius: 3%;
  margin:auto;
  text-align: center;
}

/* <!-- Learn and grow + 8 CASELLE SOTTO --> */
.mainlearnandgrow{
  height: 800px;
  width: 100%;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}
/* TITOLO PRINCIPALE LEARN AND GROW */
.titlelearnandgrowcontainer{

  width: 60%;
  background-color: red;
  margin: 0 20%;
  margin-top: 20px;
  text-align: center;
}

/* PARAGRAFO LEARN AND GROW  */
 .paragrafolearnandgrow{
   height: 200px;
   width: 60%;
   background-color: white;
   margin: auto;
   text-align: center;
 }

/*  8 CASELLE SOTTO */
.containerquadrato{
  height: 150px;
  width: 20%;
  background-color: orange;
}

/* <!-- 73,400 + MARCHI LATERALI --> */



/* <!-- Start Growing With HubSpot Today --> */



/* <!-- inizio primo blocco -----------------------------> */




footer{
  background-color: blue;
  padding: 40px 0;
  border:2px solid black;
}
